.docs {
  border-right: 1px solid var(--border);
  
  h2 {
      color: var(--accent);
  }

  @media (max-width: 1024px) {
    border-right: none;
    border-bottom: 1px solid var(--border);
  }
}
